<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원등록</title>

</head>

<body>
    <%- include('../top.ejs') %>
    <%- include('../nav.ejs') %>

	<div align="center" >
		<br><br>
		<h2>회원등록</h2>
		<br><br>	
	    <form  action="memberAddPro">
	    	<table border="1">
               
                <tr>
                    <td>아이디</td>
                    <td><input type="text" name="memberId" ></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td><input type="text" name="memberPw" ></td>
            </tr>
                <tr>
                    <td>이름</td>
                    <td><input type="text" name="memberName"></td>
                </tr>
                <tr>
                    <td> 이메일</td>
                    <td><input type="text" name="memberEmail"></td>
                </tr>
            
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="입력완료">
                        <input type="button" value="홈으로" onclick="location.href='memberListAll'">
                    </td>
                </tr>
	        </table>
	    </form>
	</div>

    <%- include('../footer.ejs') %>
</body>
</html>