<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        베스킨라빈스31 게임
        P1 과 P2는 플레이어이다. 
        플레이는 각각 한번씩 번갈아가며 1~3의 숫자를 고른다. 
        고른숫자만큼  total 에 누적이 되며, 31이 되거나 넘긴사람이 지는게임이다.  

    -->
    <div align="center">
        <h1>베스킨라빈스31</h1>
        <a href="gameBR31Play?&total=0&turn=1">게임시작</a>
        <br>
        <a href="main">돌아가기</a>
    </div>
    
</body>
</html>