<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <table border="1">
          
            <tr align="center">
                <td colspan="3" ><h3>연습문제</h3></td>
            </tr>
            <tr>   
                <td><a href="test01">테스트1</a></td>
                <td><a href="test02">테스트2</a></td>
                <td><a href="test03">테스트3</a></td>
            </tr>

        
            <tr>   
                <td><a href="test04">테스트4</a></td>
                <td><a href="test05">테스트5</a></td>
                <td><a href="test06">테스트6</a></td>
            </tr>
        </table>


    </div>

</body>
</html>