<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <pre>
        [문제] 
            1 에서 300 사이의 숫자중 다음 조건에 전부 맞는 숫자를 출력하시오.
            [조건1] 11의 배수를 출력
            [조건2] 200에 가장가까운 수를 출력 
        
    </pre>

    <script>
      document.write("[조건1] ");
      var standard = 200;
      var min = 300;
      var answer = 0;

      for (i = 1; i <= 300; i++) {
        if (i % 11 == 0) {
          var diff = Math.abs(standard - i);
          document.write("<span>", i, ", ", "</span>");
          if (min > diff) {
            min = diff;
            answer = i;
          }
        }
      }
      document.write("<br/>", "<span>", "[조건2] ", answer, "</span>");
    </script>
    <br />
    <br />
    <a href="main"> 메인화면으로 </a>
  </body>
</html>
