

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--
 	[1] form 데이터 처리 페이지
 	
 	[2] 데이터 가져오는 방법
 		(1) String strAge = request.getParameter("age");
 			모든 내용은 문자열로 변환된다.
 			만약 값이 정수라면, 변환해서 사용한다.
 		(2) int age = Integer.parseInt(strAge);
-->
 

    <h1>formTestPro 페이지  </h1>
    <h2>나이 : <%=age%></h2>
    <a href="main">돌아가기</a>
</body>
</html>
 