<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        [textarea]
            텍스트에리어는 rows 속성과 cols 속성으로 각각 세로와 가로 길이를 정해준다.


    -->

    <h1>하고싶은말 </h1>
    <form action="textareaTestPro">

        <textarea rows="10" cols="50" name="memo"></textarea>
        <br>
        <input type="submit" value="전송">
    </form>
</body>
</html>