<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<% 

		var arr = [num1, num2, num3]
		var max = 0
		for(i=0; i<arr.length; i++){
			arr[i] = arr[i]/1;

			if(arr[i]>=max){
				max = arr[i]
			}
		}
	%>

	<h2>가장 큰 수</h2>
	<h1><%=max
	%></h1>
	<br/>
	<a href="main">돌아가기</a>
</body>
</html>