
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% 
        var msg = ""

        if (num1 > num2){
            msg = "num1이크다"
        }else if(num1 < num2){
            msg = "num2가 크다"
        }else{
            msg = "서로같다"
        }

    %> 



    <h1>숫자비교Pro페이지</h1>
    num1 : <%=num1 %> 
    <br>
    num2 : <%=num2 %>  
    <br><br>
    <%=msg%>
    <br><br>
    <a href="main">돌아가기</a>
</body>
</html>