<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        [히든]
            hidden 속성값은 입력받지 않은 데이터를 보낼 때 유용하게 쓰인다.
    -->
    <form action="hiddenTestPro">
       
        <input type="hidden" value="1000" name="num1">
        <input type="hidden" value="2000" name="num2">
        
        <input type="submit" value="입력완료">  
      </form>
</body>
</html>