<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        [문제] 
			1. 1~10개의 숫자중 랜덤으로 한개의 숫자를 저장한다.
			2. 랜덤의 숫자가 6이상인지 6미만인지 맞추는게임이다. 
            3. 6이상이면 up 을 적는다.
            4. 6이하이면 down 을 적는다. 
    -->
    <% 
        var ran = Math.floor(Math.random() * 10 + 1);
    %> 
    <h1> 1~10사이의 랜덤숫자를 저장했습니다. </h1>
    <h3>6이상이면 up 을 적고 6미만이면 down 을 적으시오. </h3>
        
   
    <form action="quizUpDownPro">
        <input type="hidden" value="<%=ran%>" name="ran" > <!-- 정답은 히든으로 다음페이지에 전달한다. -->
        <input type="text" name="result">
        
        <input type="submit" value="입력완료">  
    </form>
</body>
</html>