<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>구구단 결과 </h1>

    <% 
        var msg = ""
        if (num1 * num2 == result){
            msg = "정답"
        }else{
            msg = "오답"
        }
    
    %> 

    <%=num1 %> * <%=num2 %> = <%=result %> <br><br>
	<%=msg %> 입니다. <br><br>


	<a href="main">돌아가기</a>
</body>
</html>