:root {
  --main-color: #f70061;
}

button {
  cursor: pointer;
}

body {
  line-height: 1.5;
}

.search i {
  position: relative;
  left: 30px;
  color: #ddd;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.top-banner-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(26, 26, 26);
}

.top-banner-img img {
  margin: 0 auto;
}

.top {
  width: 1120px;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}

.search {
  display: flex;
  align-items: center;
  width: 550px;
}

.search-bar {
  font-size: 14px;
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.user li {
  margin-right: 10px;
  display: inline;
  border-radius: 3px;
}

.enter {
  padding: 3px 10px;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #ffffff;
}

nav {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}

nav ul {
  margin-right: 190px;
  height: 33px;
  display: flex;
  align-items: center;
}

nav li {
  padding: 0 9px;
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

.underline {
  width: 100%;
  margin-bottom: 32px;
  background-color: #dddddd;
  height: 1px;
}

a {
  color: black;
  text-decoration: none;
}

.sale {
  color: var(--main-color);
}

.woman {
  color: #0c00ff;
}

.handbag {
  color: #f46b24;
}

.beauty {
  color: #00d26d;
}

.etc {
  color: #ccc;
}

.search-rank p {
  display: inline;
  font-size: 12px;
}

.banner {
  width: 1120px;
  margin: 0 auto;
}
.banner img {
  width: 100%;
}

.circles {
  position: relative;
  top: -40px;
  left: 20px;
}

.circles ul {
  display: flex;
}

.circles li {
  margin: 0 4px;
  background-color: #d6d6d646;
  border-radius: 50px;
  width: 11px;
  height: 11px;
}

.default {
  background-color: white !important;
}

.grid-wrapper {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.grid-wrapper div {
  margin: 0 6px;
  width: 100%;
  height: auto;
}

.grid-wrapper div img {
  width: 100%;
  height: auto;
}

.selcetion {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.selcetion div {
  padding: 10px;
  margin: 0 -4px;
}

.selcetion div img {
  width: 100%;
  height: auto;
}

.product-rank {
  width: 1120px;
  height: 546px;
  margin: 0 auto;
}

.product-rank-div {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.product-rank-div .product {
  padding: 10px;
  margin: 0 -4px;
}

.product-rank-div .product img {
  width: 100%;
  height: auto;
  margin-bottom: -50px;
}

.rank-txt-brand,
.rank-txt {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;
}

.rank-txt-brand:hover,
.rank-subtxt:hover {
  text-decoration: underline;
}

.rank-underline {
  margin-top: 12px;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.rank-subtxt {
  margin-top: 5px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #999999;
}

.go-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 24px 7px rgb(0 0 0 / 6%);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  top: 25px;
  left: 210px;
  width: 40px;
  height: 40px;
}

.go-cart i {
  color: #ccc;
}

.price-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.price-sale:hover,
.price:hover {
  text-decoration: none;
}

.price-sale {
  margin-right: 8px;
  font-weight: bold;
  color: var(--main-color);
}

.label {
  margin-top: 10px;
  display: flex;
  margin-right: 5px;
}

.label .new,
.label .sale1 {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
  background-color: #eee;
}
