<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% 
        // 여기는 ejs 영역이다. 
        // 자바스크립트를 사용할수있다. 

        //[1] 한줄주석 슬러시 두개
        
        /*
            [2] 여러줄 주석
        */
    %> 
    <h1>주석</h1>    

    <a href="var01">변수1</a>
    <a href="var02">변수2</a>
    <a href="var03">변수3</a>
</body>
</html>