<style>
    a { 
        text-decoration: none; 
    }

    .navtext {
        color: black;
    }
    .navtext:hover{
        color : red;
    }

    .nav1 {
        width: 100%;
        height: 40px;
        background-color: lightgreen;
        line-height: 40px;
    }
    
</style>

<div class="nav1">
    <a href="memberListAll"><span class="navtext">전체회원</span></a> &nbsp;
    <a href="memberAddForm"><span class="navtext">회원등록</span></a> &nbsp;
    <a href="tttGame"><span class="navtext">틱택토게임</span></a> &nbsp;
    <a href=""><span class="navtext">max게임</span></a> &nbsp;
</div>

