<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <pre>
        [문제]
            철수는 두번의 시험에서 각각 80점과 72점을 받았다.
            세 번째 시험에서 최소 몇 점이상을 받아야 	        
            세번의 시험성정의 평균이 82점이상이 될수 있을까?
        [정답]
            94점

    </pre>
    
    <%
        var score1 = 80;
        var score2 = 72;
        var score3 = 0;
        
        while(true) {
            var total = score1 + score2 + score3;
            var avg = total / 3.0;
            
            if(avg >= 82) {
                break;
            }
            score3 += 1;
	    }
    %>

    <h2><%= score3 %>점</h2>
   
    <a href="main">돌아가기</a>
</body>
</html>