<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<title>포트폴리오</title>
</head>
<body>
    <%- include('top.ejs') %>
    <%- include('nav.ejs') %>
	
	<br><br>
	<div align="center">
		<img src="타이틀.jpg">
	</div>
	<%- include('footer.ejs') %>
</body>
</html>