<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <pre>
      [문제]
      철수는 시험에서 17점을 받았다. 합격인가 불합격인지 구하시오.

      [합격조건] 
      60점이상

      var chulsu = 17
      var result = false;
      if(chulsu >= 60){
        result = true }
      else{
        result = false };
      var msg = "";
      if(result){
        msg = "합격입니다." }
      else{
        msg = "불합격입니다." }; 
    </pre>

    <% var chulsu = 17; var result = false; if(chulsu >= 60){ result = true }
    else{ result = false }; var msg = ""; if(result){ msg = "합격입니다." }
    else{ msg = "불합격입니다." }; %>

    <h2><%=msg%></h2>
    <h2><%=chulsu%></h2>

    <a href="/"> 메인화면으로 </a>
  </body>
</html>
