<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <pre>
      [문제] 
          1 에서 200 사이의 숫자중 다음 조건에 전부 맞는 숫자를 출력하시오.

          [조건1] 6의 배수를출력
          [조건2] 100에 가장가까운 수를 출력 

      [정답]

        102	
    </pre>

    <pre>
      var i = 1;
      var max = 200;
      var min = 100;
      var answer = 0;
      var mult = 0;

      while(max>=i){
        if(i%6 == 0){
          mult = i;
          var diff = Math.abs(100 - mult);
        }
        if(diff > 0 && min>diff){
          min = diff;
          answer = mult;
        }
        
        i++;
      }

    </pre>

    <%var i = 1; var max = 200; var min = 100; var answer = 0; var mult = 0;
    while(max>=i){ if(i%6 == 0){ mult = i; var diff = Math.abs(100 - mult); }
    if(diff > 0 && min>diff){ min = diff; answer = mult; } i++; } %>

    <h2><%=answer%></h2>
    <a href="/"> 메인화면으로 </a>
  </body>
</html>
