<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <table border="1">
         
            <tr align="center">
                <td colspan="3" ><h3>배열연습</h3></td>
            </tr>
            <tr>   
                <td><a href="array01">배열1</a></td>
                <td><a href="array02">배열2</a></td>
                <td><a href="array03">배열3</a></td>
            </tr>

          
        </table>


    </div>

</body>
</html>