<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        우리가 알고있는 구구단게임을 5번 게임하고 총점을 출력하는 게임이다. 

    -->
    <div align="center">
        <h1>구구단게임</h1>
        <a href="game99Play?scoreCount=0&gameCount=1">게임시작</a>
        <br>
        <a href="main">돌아가기</a>
    </div>
    
</body>
</html>