<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>연산자 게임</h1>
        <a href="">게임시작</a>
        <br>
        <a href="main">돌아가기</a>
    </div>
</body>
</html>