<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">

        <table border="1">
            <tr align="center">
                <td>
                    <h2>Request 기본</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    <a href="formTest">폼 기본 </a>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="oddEven">짝수 홀수</a>            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="compareNumber">숫자 비교</a>      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="#">합 격</a>                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="#">가장 큰수</a>                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>

            
        </table>
    </div>
</body>
</html>