

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% 
        msg = ""
        if (number % 2 == 0){
            msg = "짝수"
        }else{
            msg = "홀수"
        }
    %> 


    <h1>짝수 홀수 Pro 페이지</h1>
   
    <h2><%=msg%> : <%=number%></h2>
    <a href="main">돌아가기</a>
</body>
</html>
 