<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
		[문제]
			1. 점수2개를 입력받아 평균을 구한다.
			2. 평균이  60점 이상이면 합격, 60점 미만이면 불합격이다.
			3. 조건1)  입력받은 정수가 
			   음수이거나 100점을 초과하면, 예외 메세지를 출력한다.
			   예) 점수를  잘못 입력했습니다.
			4. 조건2) 평균이 60 이상이라도 , 한과목이라도 50미만이면 불합격을 출력한다.

	-->
	<h2>합격</h2>
	
	<form action="#">
		점수1 : <input type="text" name="score1"> <br>
		점수2 : <input type="text" name="score2"> <br>
		<input type="submit" value="입력완료">
	</form>
</body>
</html>