<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>짝수나 홀수를 입력하세요.</h2>
    <form action="oddEvenPro">
        숫자 : <input type="text" name="number">
        
        <input type="submit" value="입력완료">
    </form>

</body>
</html>