<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">

        <table border="1">
          
            <tr align="center">
                <td>
                    <h2>데이터 전달방법 Hidden</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    <a href="hiddenTest">히든 테스트</a>       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quizUpDown">업다운게임</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quiz99">구구단</a>                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
          
            
        </table>
    </div>
</body>
</html>