<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>취미를 체크하세요. </h1>
    <form action="checkboxTestPro">

        <input type="checkbox" name="hobbies" value="운동">운동
        <input type="checkbox" name="hobbies" value="독서">독서
        <input type="checkbox" name="hobbies" value="공부">공부  
        <input type="checkbox" name="hobbies" value="쇼핑">쇼핑     
        
        <input type="submit" value="전송">
    </form>
</body>
</html>