<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">

        <table border="1">
           
            <tr align="center">
                <td>
                    <h2>다양한 입력양식 form</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    
                    <a href="radioTest">radio 태그</a>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="selectTest">select 태그</a>          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="checkboxTest">checkbox 태그</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="textareaTest">textarea 태그</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="totalFormTest">종합 폼</a>        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
            
        </table>
    </div>
</body>
</html>