<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>구구단게임</h1>
        <hr/>
        <p>이 게임은 총 5번 진행됩니다.</p>
        <button onclick="location.href='99danPlay?score=0&gameCount=1'">시작</button>
        <button onclick="location.href='/'">뒤로</button>
    </div>
</body>
</html>