<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" sizes="16x16" href="https://www.seoulstore.com/images/favicon/favicon_16px.jpg">
    <link rel="icon" type="image/icon" sizes="32x32" href="https://www.seoulstore.com/images/favicon/favicon_32px.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.seoulstore.com/images/favicon/favicon_152px.png">
    <script src="https://kit.fontawesome.com/0a218c2ef9.js" crossorigin="anonymous"></script>
    <title>서울스토어</title>
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
</head>
<body>
    <footer>
        <p class="rank-underline information"></p>
        <div class="footer-top">
          <div class="calls">
            <p>전화문의</p>
            <pre class="sub">10시 ~ 17시</pre>
            <pre class="sub">1668-4986</pre>
  
          </div>
          <div class="kakako">
            <p>카톡문의</p>
            <pre class="sub">10시 ~ 17시</pre>
            <button class="footer-btn">카톡문의</button>
          </div>
          <div class="csCenter">
            <p>고객센터 미운영시간 안내</p>
            <pre class="sub">점심시간: 12시30분~13시30분
  (토/일, 공휴일은 휴무)</pre>
          </div>
          <div class="FaQ">
            <p>자주 묻는 질문</p>
            <pre class="sub">문의 전 자주 묻는 질문을 확인하세요.</pre>
            <button onclick="location.href='https://www.seoulstore.com/faq'" class="footer-btn">자주 묻는 질문&nbsp;<i class="fa-solid fa-arrow-right fa-lg"></i></button>
          </div>
          <div class="inquiry">
            <p>입점 문의</p>
            <a href="brandcontact@brandi.co.kr" class="a-link">brandcontact@brandi.co.kr</a>
            <br />
            <button class="footer-btn">입점 신청 하기</button>
          </div>
          <div class="intro">
            <p>기업 소개</p>
            <button onclick="location.href='http://design.seoulstore.com/'" class="footer-btn">브랜드 경험 2.0 소개</button><br/>
            <button onclick="location.href='https://www.seoulstore.com/seoul-archive'" class="footer-btn">서울 아카이브</button><br/>
            <button onclick="location.href='http://design.seoulstore.com/team.html'" class="footer-btn">멤버 채용</button><br/>
            <button onclick="location.href='https://blog.naver.com/seoulstore_official'" class="footer-btn">공식 블로그</button>
          </div>
          <div class="policy">
            <p>약관 및 정책</p>
            <a href="https://www.seoulstore.com/account/signup/detail_policy/privacy" class="policy-link sub">개인정보처리방침</a><br/>
            <a href="https://www.seoulstore.com/account/signup/detail_policy/service" class="policy-link sub">이용약관</a><br/>
            <a href="https://www.ftc.go.kr/bizCommPopView.do" class="policy-link sub">사업자정보 확인</a>
          </div>
          <div class="sns">
            <p>SNS</p>
            <div class="icons">
              <a href = "https://www.facebook.com/seoulstore.official"><i class="fa-brands fa-square-facebook fa-2x"></i></a>
              <a href = "https://www.instagram.com/seoulstore_official"><i class="fa-brands fa-instagram fa-2x"></i></a>
              <a href = "https://www.youtube.com/channel/UCqesaMINf6hs6c96Kcsd9bg"><i class="fa-brands fa-youtube fa-2x"></i></a>
            </div>
          </div>
        </div>
        <p class="rank-underline information"></p>
        <div class="information1">
          <p>
            <strong>사업장소재지</strong>  서울 강남구 테헤란로38길 12(역삼동)  |   <strong>상호</strong>  (주)브랜디  |   <strong>사업자번호</strong> 220-88-93187  |   <strong>통신판매신고</strong>  2016-서울강남-00359  |   <br /><strong>호스팅사업자</strong>  (주)브랜디  |   <strong>대표</strong>  서정민  |  <strong>개인정보책임자</strong>  주현주 (privacy@brandi.co.kr)
          </p>
          <br />
          <p>2020 © brandi inc.</p>
        </div>
        <div class="information2">
          <div>
            <img src="https://www.seoulstore.com/images/footer/kcp_logo.png">
            <button>가입사실 확인</button>
          </div>
          <div>
            <img src="https://www.seoulstore.com/images/footer/ftc_logo.png">
            <button>사업자정보 확인</button>
          </div>
        </div>
      </footer>
</body>
</html>