<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">

        <table border="1">
            
            <tr align="center">
                <td>
                    <h2>데이터 전달방법 URL</h2>
                </td>
            </tr>
            <tr align="center">
                <td width="600px">
                    <a href="aTagTest">a 태그 와 button 태그</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quizSelect">야바위게임</a>           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <a href="quizOperator">연산자게임</a>         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                </td>
            </tr>
           
            
        </table>
    </div>
</body>
</html>