<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
        [select tab] 
            select 태그 는 option 태그와 한쌍이며 option 한개당 내용한개에 해당된다. 
            
            제일 위줄에 value 속성값 "none" 은 보통 선택의 주제를 적어놓는다. 
            해당 select 에서는 '과목'으로 설정했다. 

    -->
    <form action="selectTestPro">
    선택과목
        <select name="subject">
            <option value="none">과목</option>
            <option value="python">파이썬</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="javascript">자바스크립트</option>
        </select>     
        
        <input type="submit" value="전송">
    </form>
</body>
</html>