<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <pre>
        [문제]
            택시 기본요금은 10,000원입니다.			  		
            기본 요금으로는 10km까지 이동 가능합니다. 					
            10km이상 이동시 추가요금이 발생합니다. 					
            추가요금은 3km이동 할때마다 2,300원씩 요금이 추가됩니다.							
            23km 이동거리의 총요금을 출력하시오.
        [정답]
            21,500원		
        

            var basicFare = 10000;
            var basicDistance = 10;

            var addFare = 2300;
            var addDistance = 3;

            var distance = 23;

            var total = basicFare;
            if(distance > 10) {
                var addMove = parseInt((distance - basicDistance) / addDistance);
                
                if((distance - 10) % addDistance != 0) {
                    addMove += 1;
                }
                
                total += addMove * addFare;
            }
    </pre>

  
            <%
                var basicFare = 10000;
                var basicDistance = 10;

                var addFare = 2300;
                var addDistance = 3;

                var distance = 23;

                var total = basicFare;
                if(distance > 10) {
                    var addMove = parseInt((distance - basicDistance) / addDistance);
                    
                    if((distance - 10) % addDistance != 0) {
                        addMove += 1;
                    }
                    
                    total += addMove * addFare;
                }
            %>
            <h2>총 요금 = <%= total %>원</h2>

            <a href="main">돌아가기</a>
   

</body>
</html>