<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <table border="1">
            <tr align="center">
                <td colspan="3" ><h3>조건문연습</h3></td>
            </tr>
            <tr>   
                <td><a href="if01">조건문1</a></td>
                <td><a href="if02">조건문2</a></td>
                <td><a href="if03">조건문3</a></td>
            </tr>

        </table>


    </div>

</body>
</html>