<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <pre>
        [문제1] arr 배열에 1~100점 사이의 랜덤 정수를 5개 저장하고 출력
        [정답1] 87, 11, 92, 14, 47
        
        [문제2] 전교생의 총점과 평균 출력
        [정답2] 총점(251) 평균(50.2)
        
        [문제3] 성적이 60점 이상이면 합격. 합격생 수 출력
        [정답3] 2명
       
    </pre>

        <%

            var arr = [0,0,0,0,0]
        
            var count = 0;
            var total = 0;

            for(var i=0; i < 5; i++) {
                var rand = Math.floor(Math.random() * 100 + 1);
                arr[i] = rand

                if(arr[i] >= 60) {
                    count += 1;
                }
                total += arr[i];
            }
            
            var avg = total / 5.0;
        %>
        <%for (var i = 0; i < arr.length; i++){%>
                <%=  arr[i]%>	<br>
        <%}%>
        총점 : <%= total %>		<br>
        평균 : <%= avg %>		<br>
        합격생 수 : <%= count %> <br>

        <br>
        <br>
        <a href="main">돌아가기</a>

</body>
</html>