<style>
    a { 
        text-decoration: none; 
    }

    .navtext {
        color: black;
    }
    .navtext:hover{
        color : red;
    }

    .nav1 {
        width: 100%;
        height: 40px;
        background-color: lightgreen;
        line-height: 40px;
    }
    .nav2 {
        width: 100%;
        height: 40px;
        background-color: lightblue;
        line-height: 40px;
    }
    .nav3 {
        width: 100%;
        height: 40px;
        background-color: lightgoldenrodyellow;
        line-height: 40px;
    }    
</style>

<div class="nav1">
    <a href="/#"><span class="navtext">전체회원</span></a> &nbsp;
    <a href="/#"><span class="navtext">회원등록</span></a> &nbsp;
    <a href="/#"><span class="navtext">회원랜덤추가</span></a> &nbsp;
</div>

<div class="nav2">
    <a href="#"><span class="navtext">구구단</span></a> &nbsp;
    <a href="#"><span class="navtext">베스킨라빈스31</span></a> &nbsp;
    <a href="#"><span class="navtext">연산자게임</span></a> &nbsp;
</div>

<div class="nav3">
    <a href="#"><span class="navtext">틱택토</span></a> &nbsp;
    <a href="#"><span class="navtext">1to50</span></a> &nbsp;
    <a href="#"><span class="navtext">숫자이동</span></a> &nbsp;
</div>